/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	/* bottom: 2em; */
	background-color: white;
	
}

#closed-captions .sounds {
	position: absolute;
	bottom: 2em;
}

#closed-captions .thomas {
	color: blue;
	background-color: white;
}

#closed-captions p.on {
	opacity: 1;
}

#closed-captions p.off {
	transition: .2s;
	opacity: 0;
}

.voice1 {
	font-style: italic;

}

.voice2 {
	font-weight: bold;

}

.thomas .on {
	font-weight: bolder;
	color: blue;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	color: red;
	opacity: 0;
	font-family: brenner;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 400;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 600;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner sans";
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner Sans condensed";
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono";
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner slab";
}

.p1.on {
	/* background-color: hotpink; */
	color: red;
}

.p2.on {
	color: red;
}

.p5.on {
	color: rgb(112, 31, 166);
}

.p.thomas.on {
	color:chocolate;
}




/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	background: rgb(4, 4, 68);
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	box-shadow: 2em 2em 2em rgb(38, 180, 52);
}

.sound2 #video-mask {
	box-shadow: 2em 2em 2em rgb(189, 18, 46);
}

.sound3 #video-mask {
	box-shadow: 2em 2em 2em rgb(79, 180, 227);
}

.sound4 #video-mask {
	box-shadow: 1em 2em 2em 3em black;
}

.sounds {
	position: absolute;

}




/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: rgb(4, 12, 47);
}

#video-container {
	margin: auto;
}

#video-mask {
	/* aspect-ratio: 240.5/100; */
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 60vw;
	height: 45vw;
	margin-top: -0.35vw;
}